<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="index.html" title="NoCinema - Todas as programações disponíveis em um só lugar!"><img width="50" src="assets/nocinema.svg" /></a>
        </div>
        
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="index.html">PÁGINA INICIAL</a>
                </li>
                <li><a href="about.html">SOBRE</a>
                </li>
                <li><a href="contact.html">CONTATO</a>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">CIDADES <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">BLOG</a>
                        </li>
                        <li><a href="single-post.html">SINGLE POST</a>
                        </li>
                        <li><a href="portfolio.html">PORTFOLIO</a>
                        </li>
                        <li><a href="single-project.html">SINGLE PROJECT</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>