<div class="row">
	<div class="alert alert-info" role="alert"><strong>Próxima sessão</strong> em Florianópolis: A Garota no Trem às 14h no Beiramar Shopping</div>
	
	<h1 class="place-title">Floripa Shopping</h1>
	
	<div id="cinema-schedule">
	    <table id="movie-schedule">
			<thead>
			    <tr>
					<td>Filmes</td>
					<td>Versão</td>
					<td>Horários</td>
			    </tr>
			</thead>
			<tbody>
			    <tr v-for="session in sessions">
					<td>
						{{ session.title }}
						<span class="label label-success" v-if="session.special">3D</span>
						<span class="label label-danger" v-if="session.censorship">{{ session.censorship }}</span>
					</td>
					<td><span class="label label-default" title="Tooltip on left">{{ session.censorship }}</span></td>
					<td><span class="label label-info" title="Tooltip on left" v-for="hour in session.hours">{{ hour }}</span></td>
			    </tr>
			</tbody>
	    </table>
	</div>
</div>
