<div class="row">
	<div id="cinema-schedule">
	    <table id="movie-schedule">
		<thead>
		    <tr>
			<td>Filmes</td>
			<td>Versão</td>
			<td>Horários</td>
		    </tr>
		</thead>
		<tbody>
		    <tr>
			<td>Círculo de Fogo</td>
			<td><span class="label label-default" title="Tooltip on left">Dublado</span></td>
			<td><span class="label label-info" title="Tooltip on left">14:20</span></td>
		    </tr>
		    <tr>
			<td>Círculo de Fogo</td>
			<td><span class="label label-default" title="Tooltip on left">Dublado</span></td>
			<td><span class="label label-info" title="Tooltip on left">14:20</span></td>
		    </tr>
		    <tr>
			<td>Círculo de Fogo</td>
			<td><span class="label label-default" title="Tooltip on left">Dublado</span></td>
			<td><span class="label label-info" title="Tooltip on left">14:20</span></td>
		    </tr>
		    <tr>
			<td>Círculo de Fogo</td>
			<td><span class="label label-default" title="Tooltip on left">Dublado</span></td>
			<td><span class="label label-info" title="Tooltip on left">14:20</span></td>
		    </tr>
		    <tr>
			<td>Círculo de Fogo</td>
			<td><span class="label label-default" title="Tooltip on left">Dublado</span></td>
			<td><span class="label label-info" title="Tooltip on left">14:20</span></td>
		    </tr>
		    <tr>
			<td>Círculo de Fogo</td>
			<td><span class="label label-default" title="Tooltip on left">Dublado</span></td>
			<td><span class="label label-info" title="Tooltip on left">14:20</span></td>
		    </tr>
		</tbody>
	    </table>
	</div>
</div>
