<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-2">
            <div class="thumbnail" style="background-size: cover;">
                <img src="http://www.pipocao.com.br/images/cinema/garota-trem.jpg" alt="A menina no trem">
            </div>
        </div>

        <div class="col-lg-8">
            <p><span class="title-movie">A Garota no Trem</span>
                <select class="select-cinema">
                    <option class="select-cinema">Shopping Center Iguatemi (Cinesystem)</option>
                    <option>Shopping Center Iguatemi (Cinesystem)</option>
                </select><b class="caret dropdown-arrow"></b>
            </p>
            <p><span class="label label-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">115min</span>
                <span class="label label-default">18</span>
            </p>


            <h4>Beiramar Shopping (Cinespaço)</h4>
            <p><span class="badge badge-theme">legendado</span> 14:00 - 15:00 - 16:00</p>
            <p><span class="badge badge-theme">legendado</span> <span class="badge badge-3d">3d</span> 4:00 - 15:00 - 16:00</p>
            <p><span class="badge badge-dub">dublado</span> 14:00 - 15:00 - 16:00</p>
        </div>
    </div>
</div>
