#middle {
  background: #00b3fe;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
 
  .city-title {
    color: white;
    margin-left: 15px;
    text-shadow: 2px 2px #384452;
  }
}
